<div class="bg-[#151719] flex justify-center w-full">
  <div
    class="flex flex-col justify-center items-center md:w-[1440px] md:min-w-[768px]"
  >
    <app-header style="width: 100%; background-color: #151719"></app-header>
    <div
      class="border-t-[1px] border-t-[#EEEBE633] w-full uppercase text-center py-3 text-[#ffffff4d] text-[10px] mulish"
    >
      Home / Coffee Cup Reading / <span class="text-[#FFFFFF]">Detail</span>
    </div>
    <div class="hidden md:block border-y-[1px] border-y-[#EEEBE633] w-full">
      <div class="grid grid-cols-12">
        <div
          class="col-span-4 flex flex-col border-r-[1px] border-r-[#EEEBE633]"
        >
          <div class="flex justify-end p-6 border-b-[1px] border-b-[#EEEBE633]">
            <img
              class="w-[234px] border-[1px] border-[#997E5C80] cursor-pointer hover:scale-110 shadow-2xl hover:shadow-[#997e5c46] shadow-black"
              src="../../../assets/images/coffe-cup.png"
              alt=""
            />
          </div>

          <div></div>
        </div>
        <div class="col-span-8 flex flex-col">
          <div
            class="flex justify-between items-center px-6 py-3 border-b-[1px] border-b-[#EEEBE633]"
          >
            <div class="uppercase forum text-[28px] text-[#EEEBE6]">River</div>
            <div>
              <button
                routerLink="/coffee-cup-reading"
                class="text-[#FFFFFF] uppercase text-[12px] mulish-7 py-4 px-6 bg-[#997E5C] hover:bg-[#997e5cc9]"
              >
                Try again
              </button>
            </div>
          </div>
          <div class="w-full border-b-[1px] border-b-[#EEEBE633]">
            <button
              class="uppercase forum text-[#997E5C] text-[16px] py-4 px-10 hover:bg-[#997E5C1A] border-r-[1px] border-r-[#EEEBE633]"
            >
              PREsent
            </button>
            <button
              class="uppercase forum text-[#997E5C] text-[16px] py-4 px-10 hover:bg-[#997E5C1A] border-r-[1px] border-r-[#EEEBE633]"
            >
              near future
            </button>
            <button
              class="uppercase forum text-[#997E5C] text-[16px] py-4 px-10 hover:bg-[#997E5C1A] border-r-[1px] border-r-[#EEEBE633]"
            >
              Distant future
            </button>
          </div>
          <div class="flex flex-col gap-2 p-5">
            <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
              The arrow suggests that you must be
              <span class="mulish-8">cautious</span> in your daily life.
              Determine the <span class="mulish-8">right orientation</span> of
              the arrow in the coffee cup.
            </div>
            <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
              If the arrow points <span class="mulish-8">downwards</span>,
              conditions may appear tough.
            </div>
            <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
              If indeed the arrow is pointed
              <span class="mulish-8">upwards</span>, your life will be
              progressive.
            </div>
            <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
              Whereas if the arrow is <span class="mulish-8">horizontal</span>,
              it indicates that your thoughts are mostly about something
              unpleasant.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block md:hidden">
      <div class="flex flex-col">
        <div
          class="flex justify-between items-center px-2 py-3 border-y-[1px] border-y-[#EEEBE633]"
        >
          <div class="uppercase forum text-[24px] text-[#EEEBE6]">River</div>
          <div>
            <button
              class="text-[#FFFFFF] uppercase text-[10px] mulish-7 py-3 px-4 bg-[#997E5C] hover:bg-[#997e5cc9]"
            >
              Try again
            </button>
          </div>
        </div>
        <div class="flex justify-center py-6">
          <img
            class="w-[234px] border-[1px] border-[#997E5C80] cursor-pointer shadow-2xl hover:shadow-[#997e5c46] shadow-black"
            src="../../../assets/images/coffe-cup.png"
            alt=""
          />
        </div>
        <div
          class="w-full flex justify-center border-y-[1px] border-y-[#EEEBE633]"
        >
          <button
            class="uppercase forum text-[#997E5C] text-[14px] py-3 px-4 hover:bg-[#997E5C1A] border-x-[1px] border-x-[#EEEBE633]"
          >
            PREsent
          </button>
          <button
            class="uppercase forum text-[#997E5C] text-[14px] py-3 px-4 hover:bg-[#997E5C1A] border-r-[1px] border-r-[#EEEBE633]"
          >
            near future
          </button>
          <button
            class="uppercase forum text-[#997E5C] text-[14px] py-3 px-4 hover:bg-[#997E5C1A] border-r-[1px] border-r-[#EEEBE633]"
          >
            Distant future
          </button>
        </div>
        <div
          class="flex flex-col gap-2 p-5 border-b-[1px] border-b-[#EEEBE633]"
        >
          <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
            The arrow suggests that you must be
            <span class="mulish-8">cautious</span> in your daily life. Determine
            the <span class="mulish-8">right orientation</span> of the arrow in
            the coffee cup.
          </div>
          <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
            If the arrow points <span class="mulish-8">downwards</span>,
            conditions may appear tough.
          </div>
          <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
            If indeed the arrow is pointed
            <span class="mulish-8">upwards</span>, your life will be
            progressive.
          </div>
          <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
            Whereas if the arrow is <span class="mulish-8">horizontal</span>, it
            indicates that your thoughts are mostly about something unpleasant.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-more></app-more>
<app-footer></app-footer>
