<div class="lg:max-w-[1440px] lg:min-w-[1240px] w-full">
  <nav class="w-full lg:justify-evenly lg:p-8 lg:flex bg-transparent">
    <div class="flex items-center">
      <ul class="w-full lg:flex hidden lg:gap-4">
        <li
          class="underline-hover flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center hover:cursor-pointer"
        >
          HOROSCOPE<i class="fi fi-rs-angle-down pl-1 pt-1"></i>
        </li>
        <li
          class="underline-hover flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center hover:cursor-pointer"
        >
          TAROT<i class="fi fi-rs-angle-down pl-1 pt-1"></i>
        </li>
        <li
          class="underline-hover flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center hover:cursor-pointer"
        >
          COFFEE CUP
        </li>
      </ul>
    </div>
    <div class="flex justify-between w-full lg:w-[216px] lg:p-0 p-8">
      <div></div>
      <img
        class="w-[216px] hover:cursor-pointer"
        src="../../../assets/logo_white-2.png"
        alt=""
      />
      <img
        class="w-[32px] lg:hidden block hover:cursor-pointer"
        src="../../../assets/mobile/menu-m.png"
        alt=""
      />
    </div>
    <div class="flex items-center">
      <ul class="w-full lg:flex lg:gap-4 hidden">
        <li
          class="underline-hover flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center hover:cursor-pointer"
        >
          LOVE COMPATIBILITY
        </li>
        <li
          class="underline-hover flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center hover:cursor-pointer"
        >
          FORTUNE COOKIE
        </li>
        <li
          class="underline-hover flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center hover:cursor-pointer"
        >
          BLOG
        </li>
      </ul>
    </div>
  </nav>
</div>
