<div class="bg-[#151719] flex justify-center w-full">
  <div
    class="flex flex-col justify-center items-center md:w-[1440px] md:min-w-[768px]"
  >
    <app-header style="width: 100%; background-color: #151719"></app-header>
    <div
      class="flex flex-col items-center gap-5 md:py-16 py-12 lg:max-w-[524px] md:max-w-[480px] sm:max-w-[370px] max-w-[330px]"
    >
      <div class="uppercase text-[#EEEBE6] forum md:text-[48px] text-[32px]">
        Coffee Cup Reading
      </div>
      <div class="text-[#EEEBE6] mulish text-[12px] text-center leading-7">
        Dive into Coffee Cup Readings, accompanied by an extensive collection of
        over 500 thought-provoking illustrations. Click here to get your
        personalized virtual Coffee Cup Reading.
      </div>
    </div>
    <div
      class="text-[#997E5C] uppercase forum md:text-[20px] text-[16px] py-3 border-y-[1px] border-y-[#997E5C80] text-center mb-2 w-full"
    >
      choose your 1st coffee cup
    </div>
    <div
      class="w-full flex justify-center border-b-[1px] border-b-[#997E5C80] md:py-12 py-8"
    >
      <div class="flex flex-wrap gap-6 px-8 justify-center">
        <div
          class="shadow-2xl hover:shadow-[#997e5c46] shadow-black rounded-2xl"
          routerLink="/coffee-cup-details"
        >
          <img
            class="md:w-[170px] w-[125px] border-[1px] border-[#997E5C80] cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out"
            src="../../../assets/images/coffe-cup.png"
            alt=""
          />
        </div>
        <div
          class="shadow-2xl hover:shadow-[#997e5c46] shadow-black rounded-2xl"
          routerLink="/coffee-cup-details"
        >
          <img
            class="md:w-[170px] w-[125px] border-[1px] border-[#997E5C80] cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out"
            src="../../../assets/images/coffe-cup.png"
            alt=""
          />
        </div>
        <div
          class="shadow-2xl hover:shadow-[#997e5c46] shadow-black rounded-2xl"
          routerLink="/coffee-cup-details"
        >
          <img
            class="md:w-[170px] w-[125px] border-[1px] border-[#997E5C80] cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out"
            src="../../../assets/images/coffe-cup.png"
            alt=""
          />
        </div>
        <div
          class="shadow-2xl hover:shadow-[#997e5c46] shadow-black rounded-2xl"
          routerLink="/coffee-cup-details"
        >
          <img
            class="md:w-[170px] w-[125px] border-[1px] border-[#997E5C80] cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out"
            src="../../../assets/images/coffe-cup.png"
            alt=""
          />
        </div>
        <div
          class="shadow-2xl hover:shadow-[#997e5c46] shadow-black rounded-2xl"
          routerLink="/coffee-cup-details"
        >
          <img
            class="md:w-[170px] w-[125px] border-[1px] border-[#997E5C80] cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out"
            src="../../../assets/images/coffe-cup.png"
            alt=""
          />
        </div>
        <div
          class="shadow-2xl hover:shadow-[#997e5c46] shadow-black rounded-2xl"
          routerLink="/coffee-cup-details"
        >
          <img
            class="md:w-[170px] w-[125px] border-[1px] border-[#997E5C80] cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out"
            src="../../../assets/images/coffe-cup.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<app-more></app-more>
<app-footer></app-footer>
