<div class="flex justify-center py-16 bg-[#151719]">
  <div class="flex flex-col justify-center items-center gap-9">
    <div
      class="flex flex-col gap-5 md:max-w-[524px] sm:max-w-[413px] max-w-[330px]"
    >
      <div class="uppercase forum text-[32px] text-[#EEEBE6] text-center px-2">
        More from starstruck secrets
      </div>
      <div class="text-[#EEEBE6] mulish text-[12px] px-2 leading-8 text-center">
        Discover the realms of astrology, zodiac signs, retrogrades, and more!
        Gain clarity on your world by understanding the universe's influence on
        it.
      </div>
    </div>

    <!---------------------------------------------------------------------------------------------------------------
---------------------------------------------  Latest Post and other features  --------------------------------------
-------------------------------------------------------------------------------------------------------------------->

    <div
      class="lg:grid flex flex-col lg:grid-cols-2 gap-6 xl:w-[1128px] lg:w-[960px] sm:w-[413px] w-[340px] px-2"
    >
      <div class="lg:col-span-1 flex flex-col gap-6">
        <div class="flex justify-between items-center pb-2">
          <div class="uppercase forum text-[24px] text-[#EEEBE6]">
            Latest Posts
          </div>
          <div class="uppercase underline text-[#EEEBE6] forum text-[14px]">
            See all
          </div>
        </div>
        <div class="flex flex-row bg-[#EEEBE608] justify-between items-center">
          <div class="">
            <img
              class="xl:w-[190px] lg:w-[150px] sm:w-[111px] w-[90px]"
              src="assets/images/lp-1.png"
              alt=""
            />
          </div>
          <div class="">
            <div
              class="flex flex-col gap-2 lg:p-6 sm:p-4 p-2 xl:w-[360px] lg:w-[300px] sm:w-[270px] w-[220px]"
            >
              <div
                class="uppercase forum lg:text-xl text-[16px] truncate text-[#EEEBE6]"
              >
                Discover the Secrets of 11th House Astrology
              </div>
              <div class="flex gap-4 items-center">
                <button
                  class="mulish-6 hover:text-[#bd9b72] hover:border-[#bd9b72] text-[#997E5C] border-[1px] border-[#997E5C] px-2 lg:text-[12px] text-[10px]"
                >
                  HOROSCOPE
                </button>
                <div
                  class="uppercase text-[#EEEBE680] lg:text-[12px] text-[10px] mulish-7"
                >
                  Feb 29, 2024
                </div>
              </div>
              <div
                class="lg:text-[12px] text-[10px] lg:leading-6 leading-4 mulish text-[#EEEBE699] line-clamp-2"
              >
                Uncover the mysteries of 11th house astrology and learn how it
                influences your friendships, social networks, and future
                aspirations. Explore your cosmic connections!
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-row bg-[#EEEBE608] justify-between items-center">
          <div class="">
            <img
              class="xl:w-[190px] lg:w-[150px] sm:w-[111px] w-[90px]"
              src="assets/images/lp-2.png"
              alt=""
            />
          </div>
          <div class="">
            <div
              class="flex flex-col gap-2 lg:p-6 sm:p-4 p-2 xl:w-[360px] lg:w-[300px] sm:w-[270px] w-[220px]"
            >
              <div
                class="uppercase forum lg:text-xl text-base truncate text-[#EEEBE6]"
              >
                Unlock Tarot Card Meanings
              </div>
              <div class="flex gap-4 items-center">
                <button
                  class="mulish-6 hover:text-[#bd9b72] lg:text-[12px] text-[10px] hover:border-[#bd9b72] text-[#997E5C] border-[1px] border-[#997E5C] px-2"
                >
                  TAROT
                </button>
                <div
                  class="uppercase text-[#EEEBE680] lg:text-xs text-[10px] mulish-7"
                >
                  mar 21, 2024
                </div>
              </div>
              <div
                class="lg:text-[12px] text-[10px] lg:leading-6 leading-4 mulish text-[#EEEBE699] line-clamp-2"
              >
                Discover the secrets of tarot card meanings and find guidance in
                your readings. Explore interpretations for love, career, and
                personal growth.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-1 flex flex-col justify-between gap-5">
        <div class="uppercase forum text-[24px] text-[#EEEBE6]">
          Other features
        </div>
        <div class="grid grid-cols-2 gap-4 gap-y-6">
          <div
            routerLink="/horoscope"
            class="col-span-1 flex flex-col items-center justify-center border-[1px] border-[#EEEBE64D] cursor-pointer w-fit"
          >
            <div class="container-of bg-[#061528] lg:block hidden">
              <div class="rotating-wrapper">
                <img
                  class="rotating-image"
                  src="../../../assets/images/of-1.png"
                  alt=""
                />
              </div>
            </div>
            <div class="lg:hidden block">
              <img
                class="xl:h-[130px] lg:h-[100px] w-full object-cover"
                src="../../../assets/images/of-1s.png"
                alt=""
              />
            </div>
            <div
              class="flex justify-center uppercase forum lg:text-[16px] text-[14px] text-[#EEEBE6] py-3 border-[#EEEBE64D] border-t-[1px] w-full"
            >
              Horoscopes
            </div>
          </div>
          <div
            class="col-span-1 flex flex-col items-center justify-center border-[1px] border-[#EEEBE64D] cursor-pointer w-fit"
            routerLink="/tarot"
          >
            <div class="">
              <img
                class="xl:h-[130px] lg:h-[100px] w-full object-cover"
                src="../../../assets/images/of-2.png"
                alt=""
              />
            </div>

            <div
              class="flex justify-center uppercase forum md:text-[16px] text-[14px] text-[#EEEBE6] py-3 border-[#EEEBE64D] border-t-[1px] w-full"
            >
              Daily tarot
            </div>
          </div>
          <div
            class="col-span-1 flex flex-col items-center justify-center border-[1px] border-[#EEEBE64D] cursor-pointer w-fit"
            routerLink="/coffee-cup-reading"
          >
            <div class="">
              <img
                class="xl:h-[130px] lg:h-[100px] w-full object-cover"
                src="../../../assets/images/of-3.png"
                alt=""
              />
            </div>

            <div
              class="flex justify-center uppercase forum lg:text-[16px] text-[14px] text-[#EEEBE6] py-3 border-[#EEEBE64D] border-t-[1px] w-full"
            >
              COFFEE CUP
            </div>
          </div>
          <div
            class="col-span-1 flex flex-col items-center justify-center border-[1px] border-[#EEEBE64D] cursor-pointer w-fit"
            routerLink="/love-compatibility"
          >
            <div class="">
              <img
                class="xl:h-[130px] lg:h-[100px] w-full object-cover"
                src="../../../assets/images/of-4.png"
                alt=""
              />
            </div>

            <div
              class="flex justify-center uppercase forum lg:text-[16px] text-[14px] text-[#EEEBE6] py-3 border-[#EEEBE64D] border-t-[1px] w-full"
            >
              LOVE COMPATIBILITY
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
