<div class="bg-[#151719] flex justify-center w-full">
  <div class="flex flex-col justify-center items-center max-w-[1440px] w-full">
    <app-header></app-header>
    <div
      class="max-w-[1440px] w-full h-auto border-y-[1px] border-y-[#EEEBE633] flex flex-col items-center"
    >
      <div
        class="border-x-[1px] min-h-40 w-[1127px] border-x-[#EEEBE633] h-full flex justify-between"
      >
        <button (click)="scrollLeft()">
          <div
            class="flex h-full justify-center items-center px-5 border-r-[1px] border-r-[#EEEBE633]"
          >
            <img class="h-6 w-6" src="assets/logo/vector-left.png" alt="" />
          </div>
        </button>
        <div
          #scrollContainer
          class="px-5 overflow-y-auto scroll-thumb max-w-[985px] flex items-center"
        >
          <div class="flex flex-row">
            @for( item of horoscopes ; track item.id ){
            <div
              [style.backgroundColor]="
                selectedItemId === item.id ? '#997E5C' : ''
              "
              (click)="selectItem(item.id)"
              class="lg:col-span-3 md:col-span-4 col-span-6 m-2 my-3 hover:cursor-pointer"
            >
              <div
                class="bg-[#997e5c0e] horo flex flex-col justify-center items-center p-3 md:p-4 border-[1px] border-[#997e5c56] h-auto w-[168px]"
              >
                <div>
                  <img
                    class="md:h-[58px] h-[67px] w-auto flip hover:cursor-pointer"
                    src="{{ item.image }}"
                    alt=""
                  />
                </div>
                <div
                  class="text-[#997E5C] pt-2 forum text-[16px] flex items-center"
                  [style.color]="selectedItemId === item.id ? '#EEEBE6' : ''"
                >
                  {{ item.name.toUpperCase() }}
                </div>
              </div>
            </div>
            }
          </div>
        </div>
        <button (click)="scrollRight()">
          <div
            class="flex h-full justify-center items-center px-5 border-l-[1px] border-l-[#EEEBE633]"
          >
            <img class="h-6 w-6" src="assets/logo/vector-right.png" alt="" />
          </div>
        </button>
      </div>

      <!---------------------------------------------------------------------------------------------------------------
------------------------------------------------ Type bar ---------------------------------------------------
-------------------------------------------------------------------------------------------------------------------->

      <div class="max-w-[1440px]">
        <div
          class="w-[1127px] grid grid-cols-12 border-y-[1px] border-y-[#EEEBE633]"
        >
          <button
            class="flex gap-1 col-span-2 justify-center items-center py-4 border-l-[1px] border-l-[#EEEBE633] hover:bg-[#997E5C1A]"
          >
            <span
              ><img
                class="h-6 w-6"
                src="../../../assets/logo/Command.png"
                alt="" /></span
            ><span class="forum text-[16px] text-[#997E5C] uppercase"
              >Personal</span
            >
          </button>
          <button
            class="flex gap-1 col-span-2 justify-center items-center py-4 border-l-[1px] border-l-[#EEEBE633] hover:bg-[#997E5C1A]"
          >
            <span
              ><img
                class="h-6 w-6"
                src="../../../assets/logo/FirstAid.png"
                alt="" /></span
            ><span class="forum text-[16px] text-[#997E5C] uppercase"
              >HEALTH</span
            >
          </button>
          <button
            class="flex gap-1 col-span-2 justify-center items-center py-4 border-l-[1px] border-l-[#EEEBE633] hover:bg-[#997E5C1A]"
          >
            <span
              ><img
                class="h-6 w-6"
                src="../../../assets/logo/Briefcase.png"
                alt="" /></span
            ><span class="forum text-[16px] text-[#997E5C] uppercase"
              >Profession</span
            >
          </button>
          <button
            class="flex gap-1 col-span-2 justify-center items-center py-4 border-l-[1px] border-l-[#EEEBE633] hover:bg-[#997E5C1A]"
          >
            <span
              ><img
                class="h-6 w-6"
                src="../../../assets/logo/Smiley.png"
                alt="" /></span
            ><span class="forum text-[16px] text-[#997E5C] uppercase"
              >EMOTIONS</span
            >
          </button>
          <button
            class="flex gap-1 col-span-2 justify-center items-center py-4 border-l-[1px] border-l-[#EEEBE633] hover:bg-[#997E5C1A]"
          >
            <span
              ><img
                class="h-6 w-6"
                src="../../../assets/logo/AirplaneTilt.png"
                alt="" /></span
            ><span class="forum text-[16px] text-[#997E5C] uppercase"
              >Travel</span
            >
          </button>
          <button
            class="flex gap-1 col-span-2 justify-center items-center py-4 border-l-[1px] border-l-[#EEEBE633] border-r-[1px] border-r-[#EEEBE633] hover:bg-[#997E5C1A]"
          >
            <span
              ><img
                class="h-6 w-6"
                src="../../../assets/logo/Pentagram.png"
                alt="" /></span
            ><span class="forum text-[16px] text-[#997E5C] uppercase"
              >Luck</span
            >
          </button>
        </div>
      </div>

      <!---------------------------------------------------------------------------------------------------------------
------------------------------------------------ Duration  bar ---------------------------------------------------
-------------------------------------------------------------------------------------------------------------------->

      <div class="max-w-[1440px]">
        <div
          class="w-[1127px] grid grid-cols-12 gap-6 border-b-[1px] border-b-[#EEEBE633]"
        >
          <button
            class="col-span-2 py-3 border-x-[1px] border-x-[#EEEBE633] hover:bg-[#EEEBE60D]"
          >
            <span class="uppercase forum text-[16px] text-[#EEEBE6]"
              >Yesterday</span
            >
          </button>
          <button
            class="col-span-2 py-3 border-x-[1px] border-x-[#EEEBE633] hover:bg-[#EEEBE60D]"
          >
            <span class="uppercase forum text-[16px] text-[#EEEBE6]"
              >today</span
            >
          </button>
          <button
            class="col-span-2 py-3 border-x-[1px] border-x-[#EEEBE633] hover:bg-[#EEEBE60D]"
          >
            <span class="uppercase forum text-[16px] text-[#EEEBE6]"
              >tomorrow</span
            >
          </button>
          <button
            class="col-span-2 py-3 border-x-[1px] border-x-[#EEEBE633] hover:bg-[#EEEBE60D]"
          >
            <span class="uppercase forum text-[16px] text-[#EEEBE6]"
              >weekly</span
            >
          </button>
          <button
            class="col-span-2 py-3 border-x-[1px] border-x-[#EEEBE633] hover:bg-[#EEEBE60D]"
          >
            <span class="uppercase forum text-[16px] text-[#EEEBE6]"
              >monthly</span
            >
          </button>
          <button
            class="col-span-2 py-3 border-x-[1px] border-x-[#EEEBE633] hover:bg-[#EEEBE60D]"
          >
            <span class="uppercase forum text-[16px] text-[#EEEBE6]"
              >yearly</span
            >
          </button>
        </div>
      </div>

      <!---------------------------------------------------------------------------------------------------------------
------------------------------------------------     Text bar ---------------------------------------------------
-------------------------------------------------------------------------------------------------------------------->
      <div class="max-w-[1440px]">
        <div
          class="w-[1127px] h-auto px-12 py-9 border-x-[1px] border-x-[#EEEBE633] mulish leading-8 text-[14px] text-[#EEEBE6]"
        >
          The Moon's position and aspects today may stir up some intense
          emotions in personal relationships. You might experience a mix of
          passion and conflict. Use this energy constructively by being open and
          honest with loved ones. A heartfelt conversation can clear
          misunderstandings and deepen your connections. Remember, patience and
          empathy are key to navigating any turmoil that arises.
        </div>
      </div>
    </div>
    <div class="flex justify-center py-16">
      <div class="flex flex-col justify-center items-center">
        <div class="flex flex-col gap-5 max-w-[524px]">
          <div class="uppercase forum text-[32px] text-[#EEEBE6] text-center">
            More from starstruck secrets
          </div>
          <div class="text-[#EEEBE6] mulish text-[12px] leading-8 text-center">
            Discover the realms of astrology, zodiac signs, retrogrades, and
            more! Gain clarity on your world by understanding the universe's
            influence on it.
          </div>
        </div>
        <div class="grid grid-cols-12 gap-6 w-[1128px]">
          <div class="col-span-6 flex flex-col">
            <div class="flex justify-between items-center">
              <div class="uppercase forum text-[24px] text-[#EEEBE6]">
                Latest Posts
              </div>
              <div class="uppercase underline text-[#EEEBE6] forum text-[14px]">
                See all
              </div>
            </div>
            <div></div>
            <div></div>
          </div>
          <div class="col-span-6 flex flex-col">
            <div class="uppercase forum text-[24px] text-[#EEEBE6]">
              Other features
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
