<div class="bg-[#EEEBE6] flex justify-center w-full">
  <div class="flex flex-col justify-center items-center md:w-[1440px] w-full">
    <app-header style="width: 100%; background-color: #151719"></app-header>
    <div class="flex flex-col justify-center items-center w-full">
      <div class="flex flex-col items-center py-[70px] gap-4">
        <div class="uppercase text-[#151719] md:text-[48px] text-[32px] forum">
          blog
        </div>
        <div class="mulish text-[12px] leading-7 text-[#151719]">
          Journey through the cosmos with our insightful articles.
        </div>
      </div>
      <div
        class="flex p-4 gap-4 border-y-[1px] border-y-[#15171933] w-full justify-center"
      >
        <div>
          <input
            class="border-[1px] border-[#15171933] bg-[#EEEBE6] h-[58px] lg:w-[414px] md:w-[376px] sm:w-[334px] ps-6 text-[#151719] placeholder-[#1517194b] text-[14px]"
            type="text"
            placeholder="SEARCH FOR ARTICLES"
          />
        </div>
        <div>
          <button
            class="uppercase mulish font-extrabold text-[14px] bg-[#151719] text-white h-[58px] w-[96px]"
          >
            Search
          </button>
        </div>
      </div>
      <div
        class="w-fit grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 xl:px-36 lg:px-24 md:px-16 mx-8 gap-6 py-14"
      >
        @for (item of blog; track $index) {
        <div class="flex md:flex-col flex-row bg-white">
          <div class="md:w-full sm:w-4/12 w-5/12 flex items-center">
            <img class="md:max-w" src="{{ item.image }}" alt="" />
          </div>
          <div
            class="flex flex-col gap-2 md:p-5 p-3 justify-center md:w-auto sm:w-8/12 w-7/12"
          >
            <div
              class="uppercase forum md:text-[20px] text-[14px] md:leading-7 leading-5 text-[#151719] truncate"
            >
              {{ item.title }}
            </div>
            <div class="flex md:gap-4 gap-2 items-center">
              <div>
                <button
                  class="uppercase px-2 py-1 border border-[#CC9652] text-[#CC9652] hover:bg-[#CC9652] hover:text-white mulish-6 text-[10px]"
                >
                  {{ item.button }}
                </button>
              </div>
              <div
                class="uppercase md:text-[12px] text-[10px] mulish-7 text-[#15171999]"
              >
                {{ item.date }}
              </div>
            </div>
            <div
              class="md:line-clamp-3 line-clamp-1 mulish text-[#151719] md:text-[12px] md:leading-6 text-[10px] leading-4"
            >
              {{ item.description }}
            </div>
          </div>
        </div>
        }
      </div>
      <div class="flex justify-center items-center md:gap-10 gap-6 pb-16">
        <div>
          <div
            class="md:h-12 md:w-12 h-8 w-8 border border-[#1517194D] flex justify-center items-center"
          >
            &lt;
          </div>
        </div>
        <div class="flex gap-2">
          <div
            class="md:h-12 md:w-12 h-8 w-8 border border-[#151719] hover:cursor-pointer hover:bg-[#151719] hover:text-white flex justify-center items-center text-[#151719] mulish-8 text-[14px]"
          >
            1
          </div>
          <div
            class="md:h-12 md:w-12 h-8 w-8 border border-[#151719] hover:cursor-pointer hover:bg-[#151719] hover:text-white flex justify-center items-center text-[#151719] mulish-8 text-[14px]"
          >
            2
          </div>
          <div
            class="md:h-12 md:w-12 h-8 w-8 border border-[#151719] hover:cursor-pointer hover:bg-[#151719] hover:text-white flex justify-center items-center text-[#151719] mulish-8 text-[14px]"
          >
            3
          </div>
          <div
            class="md:h-12 md:w-12 h-8 w-8 border border-[#151719] hover:cursor-pointer hover:bg-[#151719] hover:text-white flex justify-center items-center text-[#151719] mulish-8 text-[14px]"
          >
            ...
          </div>
          <div
            class="md:h-12 md:w-12 h-8 w-8 border border-[#151719] hover:cursor-pointer hover:bg-[#151719] hover:text-white flex justify-center items-center text-[#151719] mulish-8 text-[14px]"
          >
            10
          </div>
        </div>
        <div>
          <div
            class="md:h-12 md:w-12 h-8 w-8 border border-[#151719] hover:cursor-pointer hover:bg-[#151719] hover:text-white flex justify-center items-center text-[#151719] mulish-8 text-[14px]"
          >
            &gt;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-more></app-more>
<app-footer></app-footer>
