<div
  class="rotating-background radial-gradient-black flex flex-col justify-center"
>
  <div class="flex justify-center rotating-star">
    <div class="lg:min-h-[800px] bg-universe-mobile">
      <app-header></app-header>

      <div
        class="flex flex-col justify-center items-center m-10 pt-8 lg:max-w-[936px] mx-auto"
      >
        <div
          class="hidden lg:block mulish l-spacing-4 text-[#EEEBE6] text-[12px]"
        >
          DISCOVER PERSONALIZED INSIGHTS WITH YOUR FREE MOON READING.
        </div>
        <div
          class="lg:text-[64px] text-[40px] text-[#EEEBE6] forum text-center lg:p-6 p-8 lg:leading-[88px] leading-[64px]"
        >
          UNLOCK THE COSMIC MYSTERIES WITH STARSTRUCK SECRETS.
        </div>
        <div
          class="mulish text-[#EEEBE6] lg:text-[14px] text-[12px] lg:p-6 p-8 text-center lg:leading-8 leading-7"
        >
          Our platform offers a sanctuary for souls seeking guidance, clarity,
          and a deeper connection with the universe. With a wide array of
          mystical services, from daily, weekly, monthly, and yearly Horoscopes
          to enlightening Tarot Readings. We provide the tools you need to
          illuminate your journey through life.
        </div>
        <div>
          <button
            class="hover:bg-[#eeebe6dc] border w-[276px] h-[58px] bg-[#EEEBE6] mulish text-[14px] text-[#292929] lg:mt-20 mt-10"
          >
            GET <span class="font-bold">FREE HOROSCOPE READING</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-------------------------------------------------------------------------------------------------------------------
------------------------------------------------ MOON ---------------------------------------------------
-------------------------------------------------------------------------------------------------------------------->

  <div class="flex justify-center bg-white">
    <div
      class="lg:min-h-[800px] lg:max-w-[1440px] lg:grid grid-cols-12 flex flex-col-reverse"
    >
      <div
        class="lg:col-span-6 flex gap-3 flex-col justify-center p-8 mx-auto my-8 lg:my-0"
      >
        <div class="uppercase mulish lg:text-[12px] text-[10px] l-spacing-4">
          Discover insights with your free moon reading.
        </div>
        <div class="forum uppercase lg:text-5xl text-[32px]">
          Harness the Power of Your Moon Sign
        </div>
        <div class="lg:text-[14px] text-[12px] mulish mt-2 leading-8">
          Harness the power of your moon sign and uncover the emotional insights
          that shape your life.
        </div>
        <div>
          <button
            class="hover:bg-[#8f7556] border-2 w-[258px] h-[58px] bg-[#997E5C] mulish text-[14px] text-white mt-10"
          >
            GET <span class="font-bold">FREE MOON READING</span>
          </button>
        </div>
      </div>
      <div class="lg:col-span-6">
        <img
          class="lg:h-[800px] object-cover"
          src="assets/images/img-moon.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<!---------------------------------------------------------------------------------------------------------------
------------------------------------------------ Daily Horoscope ---------------------------------------------------
-------------------------------------------------------------------------------------------------------------------->

<div
  class="w-full bg-[#151719] lg:min-h-[800px] flex flex-col xl:px-28 xl:py-14 lg:px-20 lg:py-12 md:px-12 px-6 py-10 items-center"
>
  <div class="uppercase lg:text-[48px] text-[32px] forum text-[#EEEBE6]">
    Daily Horoscope
  </div>
  <div class="max-w-[1440px] my-5">
    <div class="grid grid-cols-12">
      @for( item of horoscopes ; track item.id ){
      <div
        class="lg:col-span-3 md:col-span-4 col-span-6 m-2 my-3 hover:cursor-pointer"
      >
        <div
          class="bg-[#997e5c0e] flex flex-col justify-center items-center p-3 md:p-10 border-[1px] border-[#997e5c56] w-full h-auto"
        >
          <div class="flip">
            <img
              class="md:h-[90px] h-[70px] w-auto hover:cursor-pointer"
              src="{{ item.image }}"
              alt=""
            />
          </div>
          <div class="text-[#997e5c] pt-2 forum text-[20px] flex items-center">
            {{ item.name.toUpperCase() }}
            <span
              ><img class="h-6" src="../../assets/images/vector.png" alt=""
            /></span>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>

<!-------------------------------------------------------------------------------------------------------------------
------------------------------------------------ Tarot Readings ---------------------------------------------------
-------------------------------------------------------------------------------------------------------------------->

<div class="flex justify-center">
  <div
    class="lg:max-h-[800px] lg:max-w-[1440px] flex flex-col justify-center items-center my-20"
  >
    <div
      class="uppercase lg:text-[12px] text-[10px] l-spacing-4 mulish-5 text-[#292929]"
    >
      Unveil Your Path
    </div>
    <div
      class="uppercase lg:text-[48px] text-[32px] forum text-[#151719] lg:pt-3 pt-2 pb-[6px] lg:pb-4"
    >
      Tarot Readings
    </div>
    <div
      class="text-center lg:max-w-[744px] mx-14 lg:mx-0 lg:text-[14px] text-[12px] mulish leading-8 text-[#292929]"
    >
      Explore the mysteries of the Tarot with our diverse Tarot reading options.
      From classic spreads to contemporary interpretations, our Tarot readings
      offer profound insights into your past, present, and future, helping you
      make informed decisions and navigate life's challenges with confidence.
    </div>
    <div class="grid grid-cols-12 lg:gap-6 gap-4 lg:mx-36 mx-8 mt-[50px]">
      <div class="lg:col-span-3 col-span-6 flex justify-center flip">
        <img
          class="lg:max-h-[384px] max-h-[288px] hover:cursor-pointer"
          src="assets/images/tarot.png"
          alt=""
        />
      </div>
      <div class="lg:col-span-3 col-span-6 flex justify-center flip">
        <img
          class="lg:max-h-[384px] max-h-[288px] hover:cursor-pointer"
          src="assets/images/tarot.png"
          alt=""
        />
      </div>
      <div class="lg:col-span-3 col-span-6 flex justify-center flip">
        <img
          class="lg:max-h-[384px] max-h-[288px] hover:cursor-pointer"
          src="assets/images/tarot.png"
          alt=""
        />
      </div>
      <div class="lg:col-span-3 col-span-6 flex justify-center">
        <img
          class="lg:max-h-[384px] max-h-[288px] flip hover:cursor-pointer"
          src="assets/images/tarot-2.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<!-- Truncate -->

<!-------------------------------------------------------------------------------------------------------------------
------------------------------------------------ Latest Articles ---------------------------------------------------
-------------------------------------------------------------------------------------------------------------------->

<div class="flex justify-center bg-[#EEEBE6]">
  <div
    class="flex flex-col justify-center items-center md:max-w-[1440px] md:max-h-[800px] my-16"
  >
    <div class="flex flex-col gap-[18px] justify-center items-center">
      <div class="uppercase forum md:text-[48px] text-[32px] text-[#151719]">
        Latest Articles
      </div>
      <div
        class="leading-[32px] text-[#292929] max-w-xl md:text-[14px] px-2 text-[12px] mulish text-center"
      >
        Our articles serve as a beacon of knowledge, offering enlightening
        articles on a wide range of topics, from astrology and Tarot to
        spiritual wellness and personal growth.
      </div>
    </div>
    <div class="grid grid-cols-12 gap-6 my-12 md:mx-5">
      <div
        class="flex md:col-span-4 col-span-12 md:mx-0 mx-8 flex-col mx-w md:max-w-[360px] h-auto shadow-2xl bg-[#FFFFFF]"
      >
        <div class="">
          <img class="" src="assets/images/image5.png" alt="" />
        </div>
        <div>
          <div class="flex flex-col gap-2 p-6">
            <div class="uppercase forum md:text-xl truncate text-[#151719]">
              Discover the Secrets of 11th House Astrology
            </div>
            <div class="flex gap-4 items-center">
              <button
                class="mulish-6 hover:text-[#63513c] hover:border-[#63513c] text-[#997E5C] border-[1px] border-[#997E5C] px-2"
              >
                HOROSCOPE
              </button>
              <div class="uppercase text-[#151719a6] text-xs mulish-7">
                Feb 29, 2024
              </div>
            </div>
            <div class="md:text-[12px] leading-6 mulish text-[#151719]">
              Uncover the mysteries of 11th house astrology and learn how it
              influences your friendships, social networks, and future
              aspirations. Explore your cosmic connections!
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex md:col-span-4 col-span-12 mx-8 md:mx-0 flex-col mx-w md:max-w-[360px] h-auto shadow-2xl bg-[#FFFFFF]"
      >
        <div>
          <img class=" " src="assets/images/image6.png" alt="" />
        </div>
        <div>
          <div class="flex flex-col gap-2 p-6">
            <div class="uppercase forum md:text-xl truncate text-[#151719]">
              Unlock Tarot Card Meanings
            </div>
            <div class="flex gap-4 items-center">
              <button
                class="mulish-6 hover:text-[#63513c] hover:border-[#63513c] text-[#997E5C] border-[1px] border-[#997E5C] px-2"
              >
                TAROT
              </button>
              <div class="uppercase text-[#151719a6] text-xs mulish-7">
                mar 21, 2024
              </div>
            </div>
            <div class="md:text-[12px] leading-6 mulish text-[#151719]">
              Discover the secrets of tarot card meanings and find guidance in
              your readings. Explore interpretations for love, career, and
              personal growth.
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex md:col-span-4 col-span-12 mx-8 md:mx-0 flex-col mx-w md:max-w-[360px] h-auto shadow-2xl bg-[#FFFFFF]"
      >
        <div>
          <img class=" " src="assets/images/image7.png" alt="" />
        </div>
        <div>
          <div class="flex flex-col gap-2 p-6">
            <div class="uppercase forum md:text-xl truncate text-[#151719]">
              Yes or No Tarot: Quick Insightful Answers
            </div>
            <div class="flex gap-4 items-center">
              <button
                class="mulish-6 hover:text-[#63513c] hover:border-[#63513c] text-[#997E5C] border-[1px] border-[#997E5C] px-2"
              >
                TAROT
              </button>
              <div class="uppercase text-[#151719a6] text-xs mulish-7">
                apr 30, 2024
              </div>
            </div>
            <div class="md:text-[12px] leading-6 mulish text-[#151719]">
              Seek immediate clarity with a yes or no tarot reading. Find
              answers to your pressing questions with quick, accurate tarot
              insights.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="uppercase  text-sm mulish-7 hover:cursor-pointer underline-hover-b"
    >
      View more articles
    </div>
  </div>
</div>

<!-------------------------------------------------------------------------------------------------------------------
--------------------------- -------want to know what the future holds for you?-  ------------------------------------
-------------------------------------------------------------------------------------------------------------------->

<div
  class="bg-[#151719] md:min-h-[600px] flex justify-center md:py-0 py-20 px-2"
>
  <div
    class="md:flex-row justify-center items-center flex flex-col-reverse gap-6"
  >
    <div
      class="flex flex-col md:max-w-[600px] md:mx-0 mx-8 justify-center items-center md:items-start"
    >
      <div
        class="uppercase md:text-[48px] text-[32px] md:leading-[72px] leading-10 text-[#EEEBE6] forum text-center md:text-start"
      >
        want to know what the future holds for you?
      </div>
      <div
        class="mulish md:text-[14px] text-[12px] leading-8 text-[#EEEBE6] md:pt-4 md:pb-12 text-center md:text-start pt-[18px] pb-[50px]"
      >
        Explore what the stars reveal about your life, relationships, and
        future. Our detailed horoscopes provide personalized guidance to help
        you navigate your path with confidence and clarity.
      </div>
      <div>
        <button
          class="max-w-[258px] h-[58px] bg-[#EEEBE6] mulish-5 text-[14px] text-[#292929] px-2 border-[2px] hover:bg-[#e4e0d9]"
        >
          READ YOUR <span class="mulish-8">FREE HOROSCOPE</span>
        </button>
      </div>
    </div>
    <div
      class="md:min-w-[535px] min-w-[333px] md:min-h-[535px] min-h-[333px] rotating-layer-3 flex justify-center items-center"
    >
      <div
        class="md:min-w-[535px] md:min-h-[535px] min-w-[333px] min-h-[333px] rotating-layer-2 flex justify-center items-center"
      >
        <div
          class="md:min-w-[535px] md:min-h-[535px] min-w-[333px] min-h-[333px] rotating-layer-1 flex justify-center items-center"
        >
          <img
            class="md:max-w-[315px] max-w-[244px] p-2"
            src="assets/images/round.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-------------------------------------------------------------------------------------------------------------------
--------------------------- -------------------------FOOTER -------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------->

<app-footer></app-footer>
