<div class="bg-[#151719] flex justify-center w-full">
  <div
    class="flex flex-col justify-center items-center md:max-w-[1440px] md:min-w-[768px]"
  >
    <app-header></app-header>
    <div class="w-full">
      <div
        class="border-t-[1px] border-t-[#EEEBE633] w-full uppercase text-center py-3 text-[#ffffff4d] text-[10px] mulish"
      >
        Home / Daily Tarot / <span class="text-[#FFFFFF]">The MAGICIAN</span>
      </div>
      <!-- Div for Desktop -->
      <div class="hidden md:block border-y-[1px] border-y-[#EEEBE633]">
        <div class="grid grid-cols-12">
          <div
            class="col-span-4 flex flex-col border-r-[1px] border-r-[#EEEBE633]"
          >
            <div
              class="flex justify-end p-6 border-b-[1px] border-b-[#EEEBE633]"
            >
              <img
                class="w-[248px]"
                src="../../../assets/images/magician.png"
                alt=""
              />
            </div>
            <div></div>
          </div>
          <div class="col-span-8 flex flex-col">
            <div
              class="flex justify-between items-center px-6 py-3 border-b-[1px] border-b-[#EEEBE633]"
            >
              <div class="uppercase forum text-[28px] text-[#EEEBE6]">
                THE magician
              </div>
              <div>
                <button
                  class="text-[#FFFFFF] uppercase text-[12px] mulish-7 py-4 px-6 bg-[#997E5C] hover:bg-[#997e5cc9]"
                  routerLink="/tarot"
                >
                  Pick another card
                </button>
              </div>
            </div>
            <div
              class="flex flex-col gap-2 p-5 border-b-[1px] border-b-[#EEEBE633]"
            >
              <div class="uppercase forum text-[24px] text-[#EEEBE6]">LOVE</div>

              <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
                Be aware of recent
                <span class="mulish-8">love and relationships</span> in your,
                just
                <span class="mulish-8">don't skip the trust and faithful</span>
                part of your relationship, otherwise, you'll be regretting your
                own choice.
              </div>
              <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
                <span class="mulish-8">Don't live in illusions,</span> anyone
                can fake themselves to use others, make sure that you are
                <span class="mulish-8">totally familiar</span> with your new
                love.
              </div>
              <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
                <span class="mulish-8"
                  >Low willpower and an absence of firmness</span
                >
                can give rise to insecurities in your fresh relationship. All
                these <span class="mulish-8">insecurities</span> take place when
                chances of love and romance take place in your relationship. So
                make yourself more <span class="mulish-8">alert</span> and show
                some <span class="mulish-8">excitement</span> in yourself.
              </div>
            </div>
            <div
              class="flex flex-col gap-2 p-5 border-b-[1px] border-b-[#EEEBE633]"
            >
              <div class="uppercase forum text-[24px] text-[#EEEBE6]">
                Finance
              </div>
              <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
                Your
                <span class="mulish-8">financial conditions</span> may not be in
                your hand, and the reason for this is that you're
                <span class="mulish-8">
                  wasting your resources and mastery.</span
                >
                Boost up your <span class="mulish-8">assertiveness</span> and
                get ready to show your most awaited side which is full of
                knowledge and experience.
              </div>
              <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
                The destitution of <span class="mulish-8">boldness</span> can
                kill your <span class="mulish-8">willpower</span> which will not
                let your <span class="mulish-8">financial gain</span> increase.
                Try to transform your prowess and talent into something useful
                which will also
                <span class="mulish-8">increase your income</span> or more
                money-making.
              </div>
            </div>
            <div class="flex flex-col gap-2 p-5">
              <div class="uppercase forum text-[24px] text-[#EEEBE6]">
                Career
              </div>

              <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
                The <span class="mulish-8">Magician reverse card</span> reading
                complaint about not showing your
                <span class="mulish-8">ingenuity</span> and
                <span class="mulish-8">not taking advantage</span> of your
                <span class="mulish-8">opportunities</span>
                properly.
              </div>
              <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
                Are you sure that all your
                <span class="mulish-8">efficiencies</span> are manoeuvered
                correctly and in the right way? Ignoring the best is not as
                <span class="mulish-8">lucrative</span> as you are not using
                your <span class="mulish-8">full potential</span> to achieve
                something.
              </div>
              <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
                Real <span class="mulish-8">risks</span> are not ignoring the
                facts but risks are something you have to take in your career if
                you want a <span class="mulish-8">bright future</span>. Try to
                understand more about your work as clever people are always
                watching with <span class="mulish-8">hidden agendas</span>.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Div for Mobile -->
      <div class="block md:hidden">
        <div class="flex flex-col">
          <div
            class="flex justify-between items-center px-2 py-3 border-y-[1px] border-y-[#EEEBE633]"
          >
            <div class="uppercase forum text-[24px] text-[#EEEBE6]">
              THE magician
            </div>
            <div>
              <button
                class="text-[#FFFFFF] uppercase text-[10px] mulish-7 py-3 px-4 bg-[#997E5C] hover:bg-[#997e5cc9]"
                routerLink="/tarot"
              >
                Pick another card
              </button>
            </div>
          </div>
          <div>
            <img
              class="px-8 sm:px-20 py-6"
              src="../../../assets/images/magician.png"
              alt=""
            />
          </div>
          <div
            class="flex flex-col gap-2 p-5 border-y-[1px] border-y-[#EEEBE633]"
          >
            <div class="uppercase forum text-[24px] text-[#EEEBE6]">LOVE</div>

            <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
              Be aware of recent
              <span class="mulish-8">love and relationships</span> in your, just
              <span class="mulish-8">don't skip the trust and faithful</span>
              part of your relationship, otherwise, you'll be regretting your
              own choice.
            </div>
            <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
              <span class="mulish-8">Don't live in illusions,</span> anyone can
              fake themselves to use others, make sure that you are
              <span class="mulish-8">totally familiar</span> with your new love.
            </div>
            <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
              <span class="mulish-8"
                >Low willpower and an absence of firmness</span
              >
              can give rise to insecurities in your fresh relationship. All
              these <span class="mulish-8">insecurities</span> take place when
              chances of love and romance take place in your relationship. So
              make yourself more <span class="mulish-8">alert</span> and show
              some <span class="mulish-8">excitement</span> in yourself.
            </div>
          </div>
          <div
            class="flex flex-col gap-2 p-5 border-b-[1px] border-b-[#EEEBE633]"
          >
            <div class="uppercase forum text-[24px] text-[#EEEBE6]">
              Finance
            </div>
            <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
              Your
              <span class="mulish-8">financial conditions</span> may not be in
              your hand, and the reason for this is that you're
              <span class="mulish-8"> wasting your resources and mastery.</span>
              Boost up your <span class="mulish-8">assertiveness</span> and get
              ready to show your most awaited side which is full of knowledge
              and experience.
            </div>
            <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
              The destitution of <span class="mulish-8">boldness</span> can kill
              your <span class="mulish-8">willpower</span> which will not let
              your <span class="mulish-8">financial gain</span> increase. Try to
              transform your prowess and talent into something useful which will
              also <span class="mulish-8">increase your income</span> or more
              money-making.
            </div>
          </div>
          <div
            class="flex flex-col gap-2 p-5 border-b-[1px] border-b-[#EEEBE633]"
          >
            <div class="uppercase forum text-[24px] text-[#EEEBE6]">Career</div>

            <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
              The <span class="mulish-8">Magician reverse card</span> reading
              complaint about not showing your
              <span class="mulish-8">ingenuity</span> and
              <span class="mulish-8">not taking advantage</span> of your
              <span class="mulish-8">opportunities</span>
              properly.
            </div>
            <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
              Are you sure that all your
              <span class="mulish-8">efficiencies</span> are manoeuvered
              correctly and in the right way? Ignoring the best is not as
              <span class="mulish-8">lucrative</span> as you are not using your
              <span class="mulish-8">full potential</span> to achieve something.
            </div>
            <div class="mulish text-[#EEEBE6] text-[14px] leading-6">
              Real <span class="mulish-8">risks</span> are not ignoring the
              facts but risks are something you have to take in your career if
              you want a <span class="mulish-8">bright future</span>. Try to
              understand more about your work as clever people are always
              watching with <span class="mulish-8">hidden agendas</span>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-more></app-more>
<app-footer></app-footer>
