<div class="w-full bg-img bg-img-star min-h-[800px]">
  <nav class="flex w-full justify-evenly p-8">
    <div class="flex items-center">
      <ul class="w-full flex gap-4">
        <li
          class="flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center"
        >
          HOROSCOPE<i class="fi fi-rs-angle-down pl-1 pt-1"></i>
        </li>
        <li
          class="flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center"
        >
          TAROT<i class="fi fi-rs-angle-down pl-1 pt-1"></i>
        </li>
        <li
          class="flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center"
        >
          COFFEE CUP
        </li>
      </ul>
    </div>
    <div>
      <img class="w-[216px]" src="../../assets/logo_white-2.png" alt="" />
    </div>
    <div class="flex items-center">
      <ul class="w-full flex gap-4">
        <li
          class="flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center"
        >
          LOVE COMPATIBILITY
        </li>
        <li
          class="flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center"
        >
          FORTUNE COOKIE
        </li>
        <li
          class="flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center"
        >
          BLOG
        </li>
      </ul>
    </div>
  </nav>

  <div
    class="flex flex-col gap-3 justify-center items-center m-10 max-w-[936px] mx-auto"
  >
    <div class="mulish l-spacing-4 text-[#EEEBE6] text-[12px]">
      DISCOVER PERSONALIZED INSIGHTS WITH YOUR FREE MOON READING.
    </div>
    <div class="text-[64px] text-[#EEEBE6] forum text-center">
      UNLOCK THE COSMIC MYSTERIES WITH STARSTRUCK SECRETS.
    </div>
    <div class="mulish text-[#EEEBE6] text-[14px] text-center">
      Our platform offers a sanctuary for souls seeking guidance, clarity, and a
      deeper connection with the universe. With a wide array of mystical
      services, from daily, weekly, monthly, and yearly Horoscopes to
      enlightening Tarot Readings. We provide the tools you need to illuminate
      your journey through life.
    </div>
    <div>
      <button
        class="w-[276px] h-[58px] bg-[#EEEBE6] mulish text-[14px] text-[#292929] mt-20"
      >
        GET <span class="font-bold">FREE HOROSCOPE READING</span>
      </button>
    </div>
  </div>
</div>
<div class="max-h-[600px] w-100 grid grid-cols-12">
  <div
    class="col-span-6 flex gap-3 flex-col justify-center max-w-[500px] mx-auto"
  >
    <div class="uppercase mulish text-[12px] l-spacing-4">
      Discover insights with your free moon reading.
    </div>
    <div class="forum uppercase text-5xl">
      Harness the Power of Your Moon Sign
    </div>
    <div class="text-[14px] mulish mt-2">
      Harness the power of your moon sign and uncover the emotional insights
      that shape your life.
    </div>
    <div>
      <button
        class="w-[258px] h-[58px] bg-[#997E5C] mulish text-[14px] text-white mt-10"
      >
        GET <span class="font-bold">FREE MOON READING</span>
      </button>
    </div>
  </div>
  <div class="col-span-6">
    <img src="assets/images/img-moon.png" alt="" />
  </div>
</div>
<div class="w-full bg-[#151719] min-h-[800px] flex flex-col justify-center items-center">
  <div class="uppercase text-[48px] forum text-[#EEEBE6]">Daily Horoscope</div>
  <div></div>
</div>
