.radial-gradient-black {
  width: 100%;
  height: 100%; /* Adjust as needed */
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 65%,
    black 100%
  );
}

.l-spacing-4 {
  letter-spacing: 4px;
}

.rotating-background {
  position: relative;
  width: 100%;
  height: 100%; /* Adjust height as needed */
  overflow: hidden; /* Ensure the rotating background doesn't overflow */
}
.rotating-star {
  position: relative;
  width: 100%;
  height: 100%; /* Adjust height as needed */
  overflow: hidden; /* Ensure the rotating background doesn't overflow */
}

.rotating-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/bg/universe.png");

  background-size: cover;
  background-position: center;
  z-index: -1;
  animation: rotateBackground 20s linear infinite;
}
.rotating-star::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/bg/back-stars.png");
  background-size: cover;
  background-position: center;

  animation: rotateBackground 25s linear infinite;
}

@keyframes rotateBackground {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.flip {
  transition: 0.5s;
}

.flip:hover {
  transform: rotateY(180deg);
}
