<div class="flex justify-center bg-img-d">
  <div class="lg:w-[1440px] lg:min-h-[800px]">
    <nav class="w-full lg:justify-evenly lg:p-8 lg:flex">
      <div class="flex items-center">
        <ul class="w-full lg:flex hidden lg:gap-4">
          <li
            class="flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center"
          >
            HOROSCOPE<i class="fi fi-rs-angle-down pl-1 pt-1"></i>
          </li>
          <li
            class="flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center"
          >
            TAROT<i class="fi fi-rs-angle-down pl-1 pt-1"></i>
          </li>
          <li
            class="flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center"
          >
            COFFEE CUP
          </li>
        </ul>
      </div>
      <div class="flex justify-between w-full lg:w-[216px] lg:p-0 p-8">
        <div></div>
        <img class="w-[216px]" src="../../assets/logo_white-2.png" alt="" />
        <img
          class="w-[32px] lg:hidden block"
          src="../../assets/mobile/menu-m.png"
          alt=""
        />
      </div>
      <div class="flex items-center">
        <ul class="w-full lg:flex lg:gap-4 hidden">
          <li
            class="flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center"
          >
            LOVE COMPATIBILITY
          </li>
          <li
            class="flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center"
          >
            FORTUNE COOKIE
          </li>
          <li
            class="flex cursor-pointer mulish text-[14px] text-[#EEEBE6] items-center"
          >
            BLOG
          </li>
        </ul>
      </div>
    </nav>

    <div
      class="flex flex-col justify-center items-center m-10 pt-8 lg:max-w-[936px] mx-auto"
    >
      <div
        class="hidden lg:block mulish l-spacing-4 text-[#EEEBE6] text-[12px]"
      >
        DISCOVER PERSONALIZED INSIGHTS WITH YOUR FREE MOON READING.
      </div>
      <div
        class="lg:text-[64px] text-[40px] text-[#EEEBE6] forum text-center lg:p-6 p-8 lg:leading-[88px] leading-[64px]"
      >
        UNLOCK THE COSMIC MYSTERIES WITH STARSTRUCK SECRETS.
      </div>
      <div
        class="mulish text-[#EEEBE6] lg:text-[14px] text-[12px] lg:p-6 p-8 text-center lg:leading-8 leading-7"
      >
        Our platform offers a sanctuary for souls seeking guidance, clarity, and
        a deeper connection with the universe. With a wide array of mystical
        services, from daily, weekly, monthly, and yearly Horoscopes to
        enlightening Tarot Readings. We provide the tools you need to illuminate
        your journey through life.
      </div>
      <div>
        <button
          class="w-[276px] h-[58px] bg-[#EEEBE6] mulish text-[14px] text-[#292929] lg:mt-20 mt-10"
        >
          GET <span class="font-bold">FREE HOROSCOPE READING</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-------------------------------------------------------------------------------------------------------------------
------------------------------------------------ MOON ---------------------------------------------------
-------------------------------------------------------------------------------------------------------------------->

<div class="flex justify-center">
  <div
    class="lg:max-h-[600px] lg:max-w-[1440px] lg:grid grid-cols-12 flex flex-col-reverse"
  >
    <div
      class="lg:col-span-6 flex gap-3 flex-col justify-center p-8 mx-auto my-8 lg:my-0"
    >
      <div class="uppercase mulish lg:text-[12px] text-[10px] l-spacing-4">
        Discover insights with your free moon reading.
      </div>
      <div class="forum uppercase lg:text-5xl text-[32px]">
        Harness the Power of Your Moon Sign
      </div>
      <div class="lg:text-[14px] text-[12px] mulish mt-2 leading-8">
        Harness the power of your moon sign and uncover the emotional insights
        that shape your life.
      </div>
      <div>
        <button
          class="w-[258px] h-[58px] bg-[#997E5C] mulish text-[14px] text-white mt-10"
        >
          GET <span class="font-bold">FREE MOON READING</span>
        </button>
      </div>
    </div>
    <div class="lg:col-span-6">
      <img
        class="lg:max-h-[600px] object-cover"
        src="assets/images/img-moon.png"
        alt=""
      />
    </div>
  </div>
</div>

<!-------------------------------------------------------------------------------------------------------------------
------------------------------------------------ Daily Horoscope ---------------------------------------------------
-------------------------------------------------------------------------------------------------------------------->

<div
  class="w-full bg-[#151719] lg:min-h-[800px] flex flex-col xl:px-28 xl:py-14 lg:px-20 lg:py-12 md:px-12 px-6 py-10 items-center"
>
  <div class="uppercase lg:text-[48px] text-[32px] forum text-[#EEEBE6]">
    Daily Horoscope
  </div>
  <div class="w-full my-5">
    <div class="grid grid-cols-12">
      @for( item of horoscopes ; track item.id ){
      <div class="lg:col-span-3 md:col-span-4 col-span-6 m-2 my-3">
        <div
          class="bg-[#997e5c0e] flex flex-col justify-center items-center p-10 border-[1px] border-[#997e5c56] w-full h-auto"
        >
          <div>
            <img
              class="md:h-[90px] h-[70px] w-auto"
              src="{{ item.image }}"
              alt=""
            />
          </div>
          <div class="text-[#997e5c] pt-2 forum text-[20px] flex items-center">
            {{ item.name.toUpperCase() }}
            <span
              ><img class="h-6" src="../../assets/images/vector.png" alt=""
            /></span>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>

<!-------------------------------------------------------------------------------------------------------------------
------------------------------------------------ Tarot Readings ---------------------------------------------------
-------------------------------------------------------------------------------------------------------------------->

<div class="flex justify-center">
  <div
    class="lg:max-h-[800px] lg:max-w-[1440px] flex flex-col justify-center items-center my-20"
  >
    <div
      class="uppercase lg:text-[12px] text-[10px] l-spacing-4 mulish-5 text-[#292929]"
    >
      Unveil Your Path
    </div>
    <div
      class="uppercase lg:text-[48px] text-[32px] forum text-[#151719] lg:pt-3 pt-2 pb-[6px] lg:pb-4"
    >
      Tarot Readings
    </div>
    <div
      class="text-center lg:max-w-[744px] mx-14 lg:mx-0 lg:text-[14px] text-[12px] mulish leading-8 text-[#292929]"
    >
      Explore the mysteries of the Tarot with our diverse Tarot reading options.
      From classic spreads to contemporary interpretations, our Tarot readings
      offer profound insights into your past, present, and future, helping you
      make informed decisions and navigate life's challenges with confidence.
    </div>
    <div class="grid grid-cols-12 lg:gap-6 gap-4 lg:mx-36 mx-8 mt-[50px]">
      <div class="lg:col-span-3 col-span-6 flex justify-center">
        <img
          class="lg:max-h-[384px] max-h-[288px]"
          src="../../assets/images/tarot.png"
          alt=""
        />
      </div>
      <div class="lg:col-span-3 col-span-6 flex justify-center">
        <img
          class="lg:max-h-[384px] max-h-[288px]"
          src="../../assets/images/tarot.png"
          alt=""
        />
      </div>
      <div class="lg:col-span-3 col-span-6 flex justify-center">
        <img
          class="lg:max-h-[384px] max-h-[288px]"
          src="../../assets/images/tarot.png"
          alt=""
        />
      </div>
      <div class="lg:col-span-3 col-span-6 flex justify-center">
        <img
          class="lg:max-h-[384px] max-h-[288px]"
          src="../../assets/images/tarot-2.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<!-- Truncate -->

<!-------------------------------------------------------------------------------------------------------------------
------------------------------------------------ Latest Articles ---------------------------------------------------
-------------------------------------------------------------------------------------------------------------------->
