.bg-img {
  
  
  background-image: url("../../assets/bg//universe.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.l-spacing-4{
    letter-spacing: 4px;
}
