<div class="bg-[#151719] flex justify-center w-full">
  <div class="flex flex-col justify-center items-center md:w-[1440px] w-full">
    <app-header style="width: 100%"></app-header>
    <div class="flex flex-col justify-center w-full">
      <div
        class="uppercase forum text-[#EEEBE6] md:text-[44px] text-[28px] md:py-16 py-10 text-center"
      >
        Fortune Cookie
      </div>
      <div
        class="uppercase text-[#997E5C] forum text-[16px] py-3 text-center border-y-[1px] border-[#997E5C80] px-2"
      >
        LETS LOOK AT WHAT IS IN STORE FOR YOU TODAY - ASK THE COOKIE
      </div>
      <div
        class="flex justify-center py-8 border-[1px] border-[#997E5C80] w-full px-2"
      >
        <div
          class="border-[1px] border-[#997E5C80] p-2 flex flex-col items-center"
        >
          <div
            class="flex flex-col items-center border-[1px] border-[#997E5C80] divide-y divide-[#997E5C80]"
          >
            <div class="py-10 md:px-[100px] px-5">
              <img
                class="w-[140px] md:w-[168px]"
                src="../../../assets/images/fca.png"
                alt=""
              />
            </div>
            <div
              class="py-6 px-4 md:px-12 text-[12px] md:text-[16px] mulish-5 text-[#EEEBE6]"
            >
              Have patience, happy married life is on it’s way.
            </div>
          </div>
        </div>
      </div>
      <div class="py-4 text-center border-y-[1px] border-[#997E5C80]">
        <button
          class="uppercase text-white mulish-7 text-[12px] px-5 py-4 bg-[#997E5C] hover:bg-[#997e5cc7]"
        >
          Try again
        </button>
      </div>
    </div>
  </div>
</div>
<app-more></app-more>
<app-footer></app-footer>
